extends partials/wrappers/wrapper.pug

block content
	main.articles-category
		h1 Бизнес
		include partials/categories.pug
		section.articles-category__list.preview
			include partials/articles-list.pug
